*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container {
    display: grid;
    padding-bottom: 1rem;
    grid-template-columns: repeat(3, auto);
}

.field {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 4rem;
    text-align: center;
}

.restart{
    padding: 0.5rem 1rem;
    cursor: pointer;
}